
<h2>Employee List</h2>
<div>
  <input type="text" [(ngModel)]="key">
  <button type="button" class="btn btn-secondary" (click)="search()">Search</button>
</div>

<a [routerLink]="['/employee',0]">Add employee</a>

<table class="table table-bordered table-hover">
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Status</th>
    <th>CreatedAt</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td><a [routerLink]="['/employee-detail',emp.id]">{{emp.name}}</a></td>
      <td>{{emp.age}}</td>
      <td>{{emp.status}}</td>
      <td>{{emp.createdAt | date: "dd/MM/yyyy"}}</td>
      <td><a [routerLink]="['/employee',emp.id]">Edit</a></td>
      <td><a (click)="Delete(emp.id)">Delete</a></td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of pages">
      <a class="page-link" [routerLink]="['/employee']" [queryParams]="{p: page}">{{page}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
