<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/pipes">Pipes</a>
  <a routerLink="/form">Form</a>
  <a routerLink="/employee">Employees</a>
</nav> 
<router-outlet></router-outlet>
<!-- <app-messages></app-messages>-->


<!-- 
<input type="text" #textName (keyup)= "changeName(textName.value)">
<br>
<label for="">Agree number: {{agree}}  </label>&nbsp;&nbsp;&nbsp;
<label for=""> Agree number: {{disgree}}</label>
<test-component *ngFor="let person of names" [name]="person" (onVote)= "parentVote($event)"></test-component> -->

